.page_header
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 50px;
}

.page_title
{
  color: #333333;
  font-family: "OpenSans";
  font-size: 40px;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 0px;

}

.theme-blue .page_title
{
  color: #fff;
  font-family: "OpenSans";
  font-size: 40px;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 0px;

}

.page_description
{
  width: 660px;
  font-family: "OpenSans";
  font-size: 20px;
  text-align: center;
  padding-bottom: 20px;
  text-align: center;
  margin: 0 auto;
  color: #333333;
}

.theme-blue .page_description
{
  width: 660px;
  font-family: "OpenSans";
  font-size: 20px;
  text-align: center;
  padding-bottom: 20px;
  text-align: center;
  margin: 0 auto;
  color: #fff;

}



@media screen and (min-width: 320px) and (max-width: 767px) {

  .page_title
  {
    width: 300px;
    padding-top: 20px;
    margin: 0 auto;
    padding-bottom: 20px;
  }

  .theme-blue .page_title
  {
    width: 300px;
    padding-top: 20px;
    margin: 0 auto;
    padding-bottom: 20px;
  }


  .page_description
  {
    width: 300px;
    font-family: "OpenSans";
    font-size: 20px;
    text-align: center;
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto;
  }

  .theme-blue .page_description
  {
    width: 300px;
    font-family: "OpenSans";
    font-size: 20px;
    text-align: center;
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto;
  }
}
